/* your css code goes here */

.in-month {
  color:white;
  background-color: black;
}

.out-month {
  color:red;
  background-color: #D8D8D8;
}

body {
  font-family: 'Hind', sans-serif;
  height: 100%;
}

html {
  height: 100%;
}
